{% extends 'coupon/base.html' %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Sign Up</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img"
                        style="background-image:url(https://previews.123rf.com/images/lenyvavsha/lenyvavsha1406/lenyvavsha140600244/29530867-mexican-food-chili-con-carne-in-a-pot-and-ingredients-vertical-view-from-above.jpg)">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign Up</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="/coupon/signup" method="post" class="signin-form">
                            {% csrf_token %}

                            {% if error%}
                            <div class="alert alert-danger" role="alert">
                                {{error}}
                            </div>
                            {% endif %}

                            <div class="form-group mb-3">
                                <label class="label" for="name">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" required name="firstname"
                                value="{{values.first_name}}">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" required name="lastname"
                                value="{{values.last_name}}">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Number</label>
                                <input type="number" class="form-control" placeholder="Number" required name="phone"
                                value="{{values.phone}}">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Email</label>
                                <input type="email" class="form-control" placeholder="Email" required name="email"
                                value="{{values.email}}" >
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password" required
                                    name="password">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    value="Register" />
                            </div>
                            <!--<div class="form-group d-md-flex">-->
                            <!--<div class="w-50 text-left">-->
                            <!--<label class="checkbox-wrap checkbox-primary mb-0">Remember Me-->
                            <!--<input type="checkbox" checked>-->
                            <!--<span class="checkmark"></span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--<div class="w-50 text-md-right">-->
                            <!--<a href="#">Forgot Password</a>-->
                            <!--</div>-->

                        </form>
                        <p class="text-center">Already have an account? <a href="/coupon/login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}